<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <% include ../partials/header %>
  </head>
    
  <body>
  <div class="vote">
  <div class="py-2 bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-6 text-center">제 <%= data.round %>대</h1>
          <h1 class="display-3 text-center"><%= data.college %> <%= data.department %> <%= data.category %> 선거</h1>
          <h3 class="text-center"><%= data.startDate.getFullYear()+"년 "+(data.startDate.getMonth()+1)+"월 "+data.startDate.getDate()+"일 "+data.startDate.getHours()+"시"+" ~ " %>
        <%= data.endDate.getFullYear()+"년 "+(data.endDate.getMonth()+1)+"월 "+data.endDate.getDate()+"일 "+data.endDate.getHours()+"시" %></h3>
        </div>
      </div>
    </div>
  </div>
  <!--후보-->
  <div class="py-4 bg-info">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center"><b>투표하시겠습니까?</b></h1>
          <hr> </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">재투표가 불가능하므로 신중히 투표해주시기 바랍니다.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a class="btn btn-lg btn-block btn-danger" href="../voting/<%= data._id %>">투표</a>
        </div>
      </div>
    </div>
  </div>
  
    </div>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>